.container {
  display: flex;
  gap: 3rem;
}

.image {
  overflow: hidden;
  border-radius: 2rem;
  width: 320px;
  height: 300px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  font-weight: bold;
  justify-content: space-between;
}

.right span {
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.size {
  display: flex;
  gap: 3rem;
  font-weight: bold;
  font-size: 1rem;
}

.sizeVariants {
  display: flex;
  gap: 1rem;
  font-weight: normal;
  color: var(--themeRed);
  font-size: 0.8rem;
}

.sizeVariants div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.5rem;
  border: 2px solid var(--themeRed);
  border-radius: 2rem;
}

.sizeVariants div:hover {
  background-color: var(--themeRed);
  cursor: pointer;
  color: white;
}

.quantity {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  gap: 2rem;
}

.counter {
  display: flex;
  gap: 0.7rem;
  cursor: pointer;
}

.btn {
  font-weight: normal;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.selected {
  background-color: var(--themeRed);
  color: white;
  cursor: pointer;
}
